Descriptive statistics help to summarize (describe) a provided dataset and identify the most significant features of the data under consideration by providing a short summary. It includes the measure of central tendencies and the measure of variability. Measures of central tendency include mean, median, and mode, while measures of variability include standard deviation (or variance), the minimum and maximum values of the variables, kurtosis, and skewness.

Measures of central tendency
  1. The mean, or average, is a number around which the observed continuous variables are
distributed. This number estimates the value of the entire dataset.
  2. To calculate median, we sort dataset in ascending or descending order and then select the middle integar. Median is robust to outliers. So median indicates central or middle value of dataset when the dataset distribution is skewed, extreme values are not known, or outliers are untrustworthy.
  3. The mode is the integer that appears the maximum number of times in the dataset. The mode indicate important information (max value) of a population. Ex: Which payscale employee contribute maximum for tax paying.

Measures of dispersion
It is used to describe the variability in a dataset. The methods used to indicate variability are:
  1. standard deviation (or variance)

    It is the average/mean of the difference between each value in the dataset with its average/mean ie how data is spread out from the mean. If the standard deviation of the dataset is low, then the data points tend to be close to the mean of the dataset. Variance is the square of standard deviation.
  
  2. Skewness

    Skewness is a measure of the asymmetry of the probability distribution of a real-valued random variable about its mean. The data distribution could be positive skewed(right skewed), symmetric or negative skewed(left skewed). 
    
    Skewness = 3(mean - median)/std

    Skewness >0, more weight in the left tail of the distribution. Positive skewness.
    Skewness <0, more weight in the right tail of the distribution. Negative skewness.
    The data should be made normal dstributed before applying analysis as analysis assumes normal distribution.
  
  3. Kurtosis
    It is a statistical measure that illustrates how heavily the tails of distribution differ from those of a normal distribution. This technique can identify whether a given distribution contains extreme values. It measures the heaviness of the distribution tails. It indicates outlier presence in a given distribution. The higher the kurtosis, the higher the outliers.

    Types of Kurtosis
    1. Mesokurtic: If any dataset follows a normal distribution, it follows a mesokurtic distribution. It has kurtosis around 0.
    2. Leptokurtic: In this case, the distribution has kurtosis greater than 3 and the fat tails indicate that the distribution produces more outliers.
    3. Platykurtic: In this case, the distribution has negative kurtosis and the tails are very thin compared to the normal distribution.
  
  4. Percentiles/ Quartiles
    It measure the percentage of values in any dataset that lie below a certain value. Quartiles refer to the three data points that divide the given dataset into four equal parts, such that each split makes 25% of the dataset. In terms of percentiles, the 25th percentile is referred to as the first quartile (Q1), the 50th percentile is referred to as the second quartile (Q2), and the 75th percentile is referred to as the third quartile (Q3).
    IQR = Q3-Q1 ; the range is used to detect outliers.

In [3]:
import pandas as pd
##from google.colab import drive
#drive.mount("/content/drive")
df= pd.read_csv("classgrades.csv", index_col=0)
df.head(20)

       Assignment  Tutorial  Midterm  TakeHome  Final
S No.
1           57.14     34.09    64.38     51.48  52.50
2           95.05    105.49    67.50     99.07  68.33
3           83.70     83.17    30.00     63.15  48.89
4             NaN     96.06    49.38    105.93  80.56
5           91.32     93.64    95.00    107.41  73.89
6           95.00     92.58    93.12     97.78  68.06
7           95.05    102.99    56.25     99.07  50.00
8           72.85     86.85      NaN       NaN  56.11
9           84.26     93.10    47.50     18.52  50.83
10          90.10     97.55    51.25     88.89  63.61
11            NaN     90.20    75.00     91.48  39.72
12          86.26     80.60    74.38     87.59  77.50
13          97.16    103.71    72.50     93.52  63.33
14          91.28     83.53    81.25     99.81  92.22
15          84.80     89.08    44.38       NaN  35.83
16          93.83       NaN    88.12     80.93  90.00
17          84.80     89.08    47.50     16.91  53.33
18          92.01    102.52    38.75     86.11  49.17
19          55.14     81.85    75.00     56.11  62.50
20          93.04     82.93    79.38     83.33  91.11

In [4]:
df.describe()

       Assignment    Tutorial     Midterm    TakeHome       Final
count   93.000000   95.000000   95.000000   95.000000   94.000000
mean    85.758925   89.475053   68.230526   81.916842   68.758936
std     12.470126   15.190065   19.681555   22.448462   18.804868
min     28.140000   34.090000   28.120000   16.910000   28.060000
25%     81.220000   83.170000   52.810000   71.850000   53.747500
50%     90.100000   93.100000   70.000000   87.960000   66.530000
75%     95.000000  100.550000   83.435000   99.070000   84.722500
max    100.830000  108.970000  110.000000  108.890000  108.890000

In [5]:
df=df.dropna()

In [6]:
med=df["Assignment"].median()
mod= df["Assignment"].mode()
avg=df["Assignment"].mean()
print(med, mod, avg)

90.98 0    91.28
1    92.02
2    95.00
3    95.05
4    98.58
dtype: float64 86.01311688311688

In [7]:
df.var()

Assignment    163.700098
Tutorial      270.887558
Midterm       424.786757
TakeHome      530.403624
Final         359.770853
dtype: float64

In [8]:
df.std()

Assignment    12.794534
Tutorial      16.458662
Midterm       20.610356
TakeHome      23.030493
Final         18.967626
dtype: float64

In [9]:
df.skew()

Assignment   -1.890489
Tutorial     -1.356049
Midterm      -0.177999
TakeHome     -1.095152
Final         0.099385
dtype: float64

In [10]:
df.kurt()

Assignment    4.781055
Tutorial      1.731493
Midterm      -0.864508
TakeHome      0.569934
Final        -0.752695
dtype: float64